body{
 margin: 0;
 padding: 0;
 text-align: center;
}

.mapa {
   
    opacity: 0.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-filter: opacity(0.75);
   
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    
    image-rendering: auto;
}
  .mapa:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    -webkit-filter: opacity(1);
    filter: none;
    /* Firefox 10+ */
    -webkit-filter: grayscale(0%);
    /* Chrome 19+ & Safari 6+ */
    image-rendering: auto;

  }

  #mapa-tam{
 
    max-width:1000px;
    max-height:1125px;
    width: auto;
    height: auto;
    margin: auto;
  }

  #img-mapa{
      width: 100%;
  }